//Variables

    //Color
    $dark: rgb(0, 0, 0);
    $light: rgba(255, 255, 255, 0.966);
    $p-bg: rgba(255, 225, 205, 0.959);
    $hover: rgb(102, 102, 102);
    $adicional: rgb(255, 190, 147);

    //Margin
    $centrar: 0 auto;