//Variables

    //Color
    $dark: rgb(0, 0, 0);
    $light: rgba(255, 255, 255, 0.966);
    $hover: rgb(102, 102, 102);
    $adicional: rgb(253, 209, 180);

    //Background
    $p-bg: radial-gradient(circle, rgba(255,243,181,1) 0%, rgba(244,206,161,1) 30%, rgba(250,170,126,1) 69%, rgba(255,104,104,1) 100%);

    //Margin
    $centrar: 0 auto;