/*Animaciones*/
.shadow-drop-2-br{ /*Sombra párrafos*/
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
}
.shadow-drop-2-center { /*Sombra cajas*/
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

