@import '..//utilities/variables';
@import '..//utilities/mixin';
/* Header */
header{
    background-color: $dark;
}
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.quinproLogo{
    max-width: 70%;
    min-width: 150px;
    margin: 1% 1%;

}
h1{
    width:fit-content;
    font-size: 25px;
    color:white;
    margin: $centrar;
}
