@import '..//utilities/variables';
/* Funciona para Productos y FAQ*/
.barraIzquierda{
    background-color: $dark;
    z-index: 15;
}
.MenuLateral{ 
    background-color: $dark;
    max-width: 350px;
    position:sticky;
    top: 10px;
    margin: $centrar;
    ul{
        list-style: none;
        padding: 0%;
    }
    li{
        border-style: solid;
        border-color: $light;
        border-width: 1px 0;
        padding-left: 5%;
        &:hover{
            background-color: $hover;
        }
    }
    a{
        list-style: none;
        text-decoration: none;
        line-height: 400%;
        color: $light;
        text-transform: uppercase;
        text-align: center;
    }
}
