@import '..//utilities/variables';
@import '..//utilities/mixin';
/* Mobile */
@media (max-width: 480px){
    /*Header*/
    .flex-header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .navbar{
        width:30%;
    }
    .quinproLogo{
        width:auto;
    }
    h1{
        font-size: 16px;
    }
    /*Carrusel*/
    .carrusel{
        .carousel{
        width: 100%;
        }
    }
    /*Seccion dos Index */
    .indexSecDos{
        .contSecDos{
            @include flex-fila-wrap;
            justify-content: center;
            width: min-content;
        }
        p{
            width: 300px;
            line-height: 200%;
            margin-top: 5%;
            font-size: 14px;
        }
    } 
    /*Seccion tres Index */
    .indexSecTres section section{
        margin: $centrar;
    }
    /*Nosotros*/
    .contenido-nosotros{
        @include flex-columna;
        width: 95vw;
        justify-content: center;
        align-content: center;
        p{
            width: 300px;
            height: 300px;
            margin-top: 5%;
            font-size: 14px;
        }
    }
    /*Productos*/
    .flex-productos{
        display: grid;
        grid-template-areas: 
        "barraIzquierda"
        "prodContenido";
        grid-template-columns: 100%;
    }
    /*Barra Lateral*/
    .tituloFaq, .tituloProductos{
        font-size: 16px;
        text-align: center;
        font-weight: 700;
        align-self: center;
    }
    .barraIzquierda{
        width: 100%;
        max-width: 100%;
        height: auto;
        position:sticky;
        top:0px;
    }
    .MenuLateral{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: auto;
        a{
            line-height: 250%;
        }
        ul{
            @include flex-fila-wrap;
            justify-content: center;
            margin-bottom: 0%;
            li{
                padding: 2%;
                min-width: 88px;
                width: 50%;
                margin-left: 0%;
                margin-right: 0%;
                a{
                    line-height: normal;
                    font-size: 0.8rem;
                }
            } 
        }
    }
    #ofertas, #res, #pollo, #cerdo{
        scroll-margin-top: 150px;
    }
    .prodContenido{
        width: 100%;
    }
    /*FAQ*/
    .flex-faq{
        display: flex;
        flex-direction: column;
    }
    .faqPrincipal{
        width: 100%;
    }
    #sentrega, #sproductos, #snosotros, #otros{
        scroll-margin-top: 150px;
    }
    .accordionWrapper {
        margin: $centrar;
        width: 60%;
        
    }
    .accordionItem{
        h4{
        font-size: 16px;
        }
        p{
            font-size: 14px;
        }
    } 
     /*Main Contactos*/
     .contactoUno{
        @include flex-columna;
        align-content: center;
        iframe{
            width: 90vw;
        }
        div{
            width: 90vw;
        }
    }
}