@import '..//utilities/variables';
@import '..//utilities/mixin';
/* Mobile */
@media (max-width: 575px){
    /*Header*/
    .flex-header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        position:sticky;
        top: 0;
        z-index: 15;
    }
    .navbar{
        width:30%;
    }
    .quinproLogo{
        width:auto;
    }
    h1{
        font-size: 16px;
    }
    /*Carrusel*/
    .carrusel{
        .carousel{
        width: 100%;
        }
    }
    /*Seccion dos Index */
    .indexSecUno{
        .contSecUno{
            @include flex-columna;
            justify-content: center;
            width: 90%;
            padding: 5%;
            p{
                width: 90%;
                line-height: 180%;
                margin-top: 5%;
                font-size: 16px;
                padding: 5%;
            } 
        }
        img{
            display:none;
        }
        background-image: url(..//assets/imagenes/index-parrilla-480x380.jpg);
        background-repeat: no-repeat;
        background-position: center;
    } 
    /*Seccion tres Index */
    .indexSecTres section section{
        margin: $centrar;
    }
    /*Nosotros*/
    .contenido-nosotros{
        @include flex-columna;
        width: min-content;
        justify-content: center;
        align-content: center;
        padding: 5%;
        p{
            width: 300px;
            height: 300px;
            margin-top: 5%;
            font-size: 14px;
            padding: 12%;
        }
    }
    /*Productos*/
    .flex-prod{
        @include flex-columna;
        .barraIzquierda{
            width: 100%;
            position: sticky;
            top: 75px;
            z-index: 10;
            .tituloFaq, .tituloProductos{
            display: none;
            }
            .MenuLateral{
                max-width: 100%;
                ul{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin:auto;
                    a{
                        width: 110px;
                        
                        
                    }
                    li{
                        line-height: normal;
                        height:50px;
                        padding: 2%;
                        border-style: none;
                    }
                }
            }
            
        }
        #ofertas, #res, #pollo, #cerdo{
            scroll-margin-top: 150px;
        }
        .prodContenido{
            width: 100%;
            margin: $centrar;
        }
    }
    /*Barra Lateral*/
    
    
    /*FAQ*/
    .flex-faq{
        display: flex;
        flex-direction: column;
    }
    .faqPrincipal{
        width: 100%;
    }
    #sentrega, #sproductos, #snosotros, #otros{
        scroll-margin-top: 150px;
    }
    .accordionWrapper {
        margin: $centrar;
        width: 60%;
        .accordionItem{
            h4{
            font-size: 15px;
            }
            p{
                font-size: 13px;
            }
        } 
    }

     /*Main Contactos*/
     .contactoUno{
        @include flex-columna;
        align-content: center;
        iframe{
            width: 90vw;
        }
        div{
            width: 90vw;
            padding: 15%;
        }
    }
    .cajaFormulario{
        max-width: 95%;
    }
    .iconoWpp{
        bottom: 5px;
        right: 5px;
    }
}