@import '..//utilities/variables';
@import '..//utilities/mixin';
/* Mobile */
@media (max-width: 575px){
    /*Header*/
    .flex-header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        position:sticky;
        top: 0;
        z-index: 15;
    }
    .navbar{
        width:30%;
    }
    .quinproLogo{
        width:auto;
    }
    h1{
        font-size: 16px;
    }
    /*Carrusel*/
    .carrusel{
        .carousel{
        width: 100%;
        }
    }
    /*Seccion dos Index */
    .indexSecDos{
        .contSecDos{
            @include flex-fila-wrap;
            justify-content: center;
            width: min-content;
            padding: 5%;
        }
        p{
            width: 300px;
            line-height: 180%;
            margin-top: 5%;
            font-size: 16px;
            height: 300px;
            padding: 15%;
        }
    } 
    /*Seccion tres Index */
    .indexSecTres section section{
        margin: $centrar;
    }
    /*Nosotros*/
    .contenido-nosotros{
        @include flex-columna;
        width: min-content;
        justify-content: center;
        align-content: center;
        padding: 5%;
        p{
            width: 300px;
            height: 300px;
            margin-top: 5%;
            font-size: 14px;
            padding: 10%;
        }
    }
    /*Productos*/
    /*Barra Lateral*/
    .tituloFaq, .tituloProductos{
        font-size: 16px;
        text-align: center;
        font-weight: 700;
        align-self: center;
    }
    .barraIzquierda{ 
        display: none;
    }
    #ofertas, #res, #pollo, #cerdo{
        scroll-margin-top: 150px;
    }
    .prodContenido{
        width: 100%;
        margin: $centrar;
    }
    /*FAQ*/
    .flex-faq{
        display: flex;
        flex-direction: column;
    }
    .faqPrincipal{
        width: 100%;
    }
    #sentrega, #sproductos, #snosotros, #otros{
        scroll-margin-top: 150px;
    }
    .accordionWrapper {
        margin: $centrar;
        width: 60%;
        .accordionItem{
            h4{
            font-size: 15px;
            }
            p{
                font-size: 13px;
            }
        } 
    }

     /*Main Contactos*/
     .contactoUno{
        @include flex-columna;
        align-content: center;
        iframe{
            width: 90vw;
        }
        div{
            width: 90vw;
        }
    }
    .cajaFormulario{
        max-width: 95%;
    }
}