@import '..//utilities/variables';
@import '..//utilities/mixin';
/* Tablet */
@media (min-width: 481px) and (max-width: 992px){
    /*Header*/
    .flex-header{
        display: flex;
        flex-direction: row-reverse;
        position:sticky;
        top: 0;
        z-index: 15;
        justify-self: flex-end;
    }
    .navbar{
        width: 30%;
        z-index: 18;
    }
    .quinproLogo{
        margin: $centrar;
        position: relative;
        left: -15%;
        z-index: 20;
    }
    h1{
        font-size: 20px;
    }
    /*Carrusel*/
    .carrusel{
        .carousel{
            width: 90%;
        }
    }
    /*Seccion dos Index */
    .indexSecDos{
        .contSecDos{
            flex-wrap: wrap;
            width: 480px;
            justify-content: center;
        }
        p{
            margin-top: 2%;
            width: 400px;
            max-height: 400px;
            padding: 10%;
        }
    } 
    /*Seccion tres Index */
    .indexSecTres{
        h4{
            max-width: 250px;
        }
        section{
            div{
                margin: 0 0% 2% 0%;
            }
            section{
                margin: $centrar;
            } 
        } 
    }
    /*Nosotros*/
    .contenido-nosotros{
        @include flex-fila-wrap;
        width: min-content;
        justify-content: center;
        align-content: center;
        padding: 5%;
        p{
            margin-top: 5%;
            width: 400px;
            height: 400px;
            padding: 12%;
        }
    }
    /*Productos*/
    .flex-productos{
        display: grid;
        grid-template-areas: 
        "barraIzquierda"
        "prodContenido";
        grid-template-columns: 100%;
    }
    /* Barra lateral*/
    .MenuLateral{ 
        display: none;
    }
    /*Contenido Productos*/
    .tituloFaq, .tituloProductos{
        font-size: 1.1rem;
        text-align: center;
        font-weight: 700;
        align-self: center;
    }
    #ofertas, #res, #pollo, #cerdo{
        scroll-margin-top: 100px;
    }
    .prodContenido{
        width: 100%;
    }
    /*FAQ*/
    .flex-faq{
        flex-direction: column;
    }
    .faqPrincipal{
        width: 100%;
    }
    #sentrega, #sproductos, #snosotros, #otros{
        scroll-margin-top: 100px;
    }    
    .accordionWrapper {
        margin: $centrar;
        width: 90%;
        .accordionItem{
            h4{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    /*Main Contactos*/
    .contactoUno{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        iframe{
            width: 450px;
        }
        div{
            width: 450px;
        }
    }
}
