@import '..//utilities/variables';
@import '..//utilities/mixin';
/* Tablet */
@media (min-width: 576px) and (max-width: 992px){
    /*Header*/
    .flex-header{
        display: flex;
        flex-direction: row-reverse;
        position:sticky;
        top: 0;
        z-index: 15;
        justify-self: flex-end;
    }
    .navbar{
        width: 30%;
        z-index: 18;
    }
    .quinproLogo{
        margin: $centrar;
        position: relative;
        left: -15%;
        z-index: 20;
    }
    h1{
        font-size: 20px;
    }
    /*Carrusel*/
    .carrusel{
        .carousel{
            width: 100vw;
        }
    }
    /*Seccion dos Index */
    .indexSecUno{
        .contSecUno{
            @include flex-columna;
            justify-content: center;
            width: 90%;
            padding: 5%;
            p{
                width: 90%;
                line-height: 180%;
                margin-top: 5%;
                font-size: 16px;
                padding: 5%;
            } 
        }
        img{
            display:none;
        }
        background-image: url(..//assets/imagenes/index-parrilla-570x450.jpg);
        background-repeat: no-repeat;
        background-position: center;
    } 
    /*Seccion tres Index */
    .indexSecTres{
        
        section{
            margin: $centrar;
            h4{
                max-width: 250px;
            } 
        } 
    }
    /*Nosotros*/
    .contenido-nosotros{
        @include flex-fila-wrap;
        width: min-content;
        justify-content: center;
        align-content: center;
        padding: 5%;
        p{
            margin-top: 5%;
            width: 400px;
            height: 400px;
            padding: 18%;
            
        }
    }
    /*Productos*/
    .flex-prod{
        display: grid;
        grid-template-areas: 
        "barraIzquierda"
        "prodContenido";
        grid-template-columns: 100%;
        /* Barra lateral*/
        .barraIzquierda{ 
            width: 100%;
            position: sticky;
            top: 95px;
            z-index: 10;
            .MenuLateral{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                max-width: 100%;
                z-index: 10;
                .tituloProductos{
                    display: none;
                }
                ul{
                    display:flex;
                    flex-direction: row;
                    justify-content:space-around;
                    width:100%;
                    li{
                        border-style: none;
                    }
                }
            }
        }
        /*Contenido Productos*/
        #ofertas, #res, #pollo, #cerdo{
            scroll-margin-top: 200px;
        }
        .prodContenido{
            width: 100%;
            margin: $centrar;
        }
    }
    
    
    
    /*FAQ*/
    .flex-faq{
        flex-direction: column;
        #sentrega, #sproductos, #snosotros, #otros{
            scroll-margin-top: 250px;
        } 
    }
    .faqPrincipal{
        width: 100%;
    }
       
    .accordionWrapper {
        margin: $centrar;
        width: 90%;
        .accordionItem{
            h4{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    /*Main Contactos*/
    .contactoUno{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        iframe{
            width: 450px;
        }
        div{
            width: 450px;
            padding: 15%;
        }
    }
    .cajaFormulario{
        min-width: fit-content;

    }
    .iconoWpp{
        bottom: 15px;
        right: 15px;
    }
}
