@import '..//utilities/variables';
@import '..//utilities/mixin';
/*Main Contactos*/
.flex-contactos{
    @include flex-columna;
    align-items: center;
    h2{
        margin: 5%;
        align-self: flex-start;
    }
}
/*Seccion uno: Mapa e Info*/
.contactoUno{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    div{
        padding: 2%;
        width: 450px;
        height: 450px;
        background: $p-bg;
        img{
            width: 40px;
            height: 40px;
            border-style: none;
            margin-left: 5%;
        }
    }
    h3{
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
        text-align: left;
    }
    p{
        text-align: left;
        font-size: 14px;
        margin-left: 5%;
    }
}
/*Seccion dos: Formulario*/
.formularioContacto h3{
    margin: 5% 0 0;

}
.cajaFormulario{
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 2%;
}