@import '..//utilities/variables';
@import '..//utilities/mixin';
.tituloFaq{
    @extend .tituloProductos;
}
.flex-faq{
    z-index: 10;
}
.faqPrincipal{
    @include flex-columna;
    h3{
        margin-bottom: 7%;
    }
}
.accordion {
    margin: 0 auto 5%;
    width: 100%;
    list-style: none;
    .accordionWrapper {
        list-style: none;
        margin: $centrar;
        margin-bottom: 5%;
        width: 100%;
        max-width: 800px;
        .accordionItem {
            float: left;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1.5rem;
            position: relative;
            width: 100%;
            background-color: $adicional;
            border-bottom: 1px solid $light;
            margin-bottom: 1px;
            padding-bottom: 0.5rem;
            h4{
                font-size: 20px;
                font-weight: 600;
                text-decoration: none;
                color: $dark;
                margin: auto;
            }
            p{
                margin-top: 2%;
                font-size: 16px;
                padding-left: 1%;
            }
            span {
                color: $dark;
                margin-top: 1rem;
                position: absolute;
                right: 1rem;
                top: 0;
                transition: all 0.2s ease-in;
            }
            input[type=checkbox]{
                position: absolute;
                cursor: pointer;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
                &:checked ~ div.panel {
                    float: left;
                    margin: 5px 0;
                    max-height: 0;
                    opacity: 0;
                    transform: translate(0, 50%);
                }
                &:checked ~ span {
                    transform: rotate(180deg);
                }
            }
        }
    }
}    
