@import '..//utilities/variables';
@import '..//utilities/mixin';
/*Carrusel*/
.carrusel{
    width: 100%;
    background-color: $dark;
    height: fit-content;
    .carousel{
    width:900px;
    margin:$centrar;
    }
}
/*Index Seccion 2*/
.indexSecDos{
    @include flex-columna;
    width: 100%;
    align-items: center;
    .contSecDos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 900px;
        margin: $centrar;
        margin-bottom: 4%;
        padding: 3%;
        border-style:double;
        border-color: $dark;
    }
    img{
        border-radius: 50%;
    }
    p{
        width: 48%;
        height: 400px;
        line-height: 250%;
        text-align:left;
        font-weight: 700;
        background: $p-bg;
        font-size: 16px;
        padding: 8%;
        border-radius: 15%;
        margin-bottom: 0;
    }
}
/*Index Seccion 3*/
.indexSecTres{
    margin-bottom: 2%;
    section div{
        margin: 0 0% 5% 0%;
        text-align: center;
        margin: $centrar;
    }
    h4{
        text-align: center;
        height: 75px;
        width:300px;
        text-decoration: none;
        font-weight: 600;
        margin: $centrar;
        color: $dark;
    }
    img{
        width: 150px;
        height: 150px;
        border-radius: 10%;
    }
}
