@import '..//utilities/variables';
@import '..//utilities/mixin';
/*Nosotros*/
.flex-nosotros{
    @include flex-columna;
    h2{
        margin: 5%;
        align-self: flex-start;
    }
}
.contenido-nosotros{
    display: flex;
    flex-direction: row;
    width: 950px;
    justify-content: space-around;
    align-content: center;
    margin: $centrar;
    margin-bottom: 4%;
    border-style: double;
    border-color: $dark;
    padding: 2%;
    img{
        border-radius: 25%;
        margin-right: 5%;
    }
    p{
        width: 400px;
        height: 400px;
        background: $p-bg;
        padding: 8%;
        line-height: 250%;
        border-radius: 25%;
        font-weight: 600;
    }
}
